

my-btp{

 


}


.background{

	background-color:lightblue ;


}


.headline{

background-image: url("http://he.bcdn.biz/Files/2013/1/15/8b685266-66ce-43e7-b35b-e8c451692944.jpg") ;
background-repeat: no-repeat;

}





.right-align {
  float: right;
}
